pipeline/Incremental Ingestion.json
{
	"name": "Incremental Ingestion",
	"properties": {
		"activities": [
			{
				"name": "last_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json_dy_dev",
						"type": "DatasetReference",
						"parameters": {
							"j_container": "bronze",
							"j_folder": "cdc_timestamp",
							"j_file": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AzureSQLToLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.sql_schema}.@{pipeline().parameters.sql_table} where @{pipeline().parameters.sql_cdc_col} > '@{if(empty(pipeline().parameters.from_date),activity('last_cdc').output.value[0].cdc_timestamp,pipeline().parameters.from_date)}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb_dev",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_parquet_dy_dev",
						"type": "DatasetReference",
						"parameters": {
							"par_container": "bronze",
							"par_folder": {
								"value": "@pipeline().parameters.sql_table",
								"type": "Expression"
							},
							"par_file": {
								"value": "@concat(pipeline().parameters.sql_table, '_',variables('current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfIncremental",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AzureSQLToLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('AzureSQLToLake').output.dataRead,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DeleteEmptyFile",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_parquet_dy_dev",
									"type": "DatasetReference",
									"parameters": {
										"par_container": "bronze",
										"par_folder": {
											"value": "@pipeline().parameters.sql_table",
											"type": "Expression"
										},
										"par_file": {
											"value": "@concat(pipeline().parameters.sql_table, '_',variables('current'))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Max_cdc",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_sqldb",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "select max(@{pipeline().parameters.sql_cdc_col}) as cdc_timestamp from @{pipeline().parameters.sql_schema}.@{pipeline().parameters.sql_table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "update_last_cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc_timestamp",
											"value": {
												"value": "@activity('Max_cdc').output.resultSets[0].rows[0].cdc_timestamp",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_json_dy_dev",
									"type": "DatasetReference",
									"parameters": {
										"j_container": "bronze",
										"j_folder": "cdc_timestamp",
										"j_file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_json_dy_dev",
									"type": "DatasetReference",
									"parameters": {
										"j_container": "bronze",
										"j_folder": "cdc_timestamp",
										"j_file": "cdc.json"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sql_schema": {
				"type": "string"
			},
			"sql_table": {
				"type": "string"
			},
			"sql_cdc_col": {
				"type": "string"
			},
			"from_date": {
				"type": "string"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}